@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --orange:#FF900E;
    --margin:5rem 0;
}
.container{
    width: 100%;
    max-width: 950px;
    margin: auto;
}
/* -------------
 header section 
 ---------------*/
header{
    background-color: #FF900E1A;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav > ul{
    display: flex;
    list-style: none;
}
.nav > ul > li{
    margin: 20px;
}
.nav > ul > li > a{
    text-decoration: none;
    color: black;
}
.heading{
    text-align: center;
    margin: 20px auto;
}
.heading > h2{
    font-size: 35px;
    margin:15px 0;
}
.heading > p{
    width: 75%;
    margin: auto;
    font-size: 15px;
}
.primary-btn{
    font-size: 20px;
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
}
.banner img{
    width: 100%;
    margin-bottom: 20px;
}
/* ------------------
feature section
------------------- */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: var(--margin);
}
.feature-picture{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 45%;
}
.feature-picture img{
    width: 100%;
}
.feature-description{
    width: 50%;
}
.feature-description > p{
    font-size: 15px;
    color: gray;
}
.feature-title-one{
    color: lightslategray;
}
.feature-title-two{
    color: var(--orange) ;
}
/*-----------------------
 more feature section
----------------------- */
.more-feature{
    display: flex;
    justify-content: space-between;
}
.vertical-line{
    width: 3px;
    height: 70px;
    background-color: var(--orange);
}
.line-and-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.more-description{
    width: 45%;
}
.more-description > p{
    font-size: 15px;
    color: gray;
    margin: 15px 0;
}
.more-feature-card{
    /* border: 1px solid; */
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
.more-feature-card > p{
    font-size: 12px;
    padding: 5px 0;
    color: gray;
}
.more-picture{
 width: 45%;
}
.more-picture img{
    width: 100%;
    height: 100%;
}
